site_name: Invidious Documentation
site_url: https://docs.invidious.io/
repo_url: https://github.com/iv-org/documentation
site_author: The Invidious project.
site_description: >-
  The official Invidious documentation
copyright: CC0 1.0 Universal (CC0 1.0)

nav:
  - Home: 'index.md'
  - 'General':
    - 'instances.md'
    - 'applications.md'
    - 'export-youtube-subscriptions.md'
    - 'faq.md'
  - 'For Advanced Users':
    - 'preferences.md'
    - 'search-filters.md'
    - 'url-parameters.md'
    - 'proxy-videos.md'
    - 'geoblocking.md'
    - 'umatrix.md'
    - 'redirector.md'
  - 'For Administrators':
    - 'installation.md'
    - 'configuration.md'
    - 'youtube-errors-explained.md'
    - 'devtools.md'
    - 'nginx.md'
    - 'caddy.md'
    - 'apache2.md'
    - 'db-maintenance.md'
    - 'Database Migration':
      - 'db-migration-info.md'
      - 'db-migration-backup-docker.md'
      - 'db-migration-backup-manual.md'
      - 'db-migration-restore-docker.md'
      - 'db-migration-restore-manual.md'
    - 'captcha-bug.md'
    - 'register-user.md'
    - 'reset-password.md'
    - 'known-exception.md'
  - 'For public instances Owners':
    - 'takedown.md'
    - 'hide-instance-behind-proxy-server.md'
    - 'ipv6-rotator.md'
    - 'improve-public-instance.md'
  - 'For Developers':
    - 'api.md'
    - 'api/common_types.md'
    - 'api/channels_endpoint.md'
    - 'api/authenticated-endpoints.md'

theme:
  name: material
  font: false

  palette: 
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  logo: images/invidious.png # https://squidfunk.github.io/mkdocs-material/setup/changing-the-logo-and-icons/#logo
  favicon: images/favicon.ico # https://squidfunk.github.io/mkdocs-material/setup/changing-the-logo-and-icons/#favicon
  features:
    - navigation.tracking # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#anchor-tracking
    - navigation.expand # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#navigation-expansion
    - navigation.top # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#back-to-top-button
    - content.code.copy # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#code-copy-button

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/iv-org/documentation

markdown_extensions:
  - pymdownx.magiclink
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details # https://facelessuser.github.io/pymdown-extensions/extensions/details/
  - admonition
